{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>What is this?</h1>
</div>
<p class="lead">Simplenickels is a simple implementation of <a href="https://fboil.herokuapp.com">fboil</a> (<a href="https://github.com/jkeat/fboil">GitHub</a>), a flask boilerplate that's an extension of <a href="https://github.com/mjhea0/flask-boilerplate">flask-boilerplate</a>.</p>
<p>Really the only thing you can do here is send virtual nickels to other users.</p>
<p>fboil features the following:</p>
<ul>
	<li>User accounts</li>
	<li>Confirmation email system</li>
	<li>Password reset system</li>
	<li>Account related decorators</li>
	<li>100% testing coverage</li>
	<li>Heroku-friendly</li>
</ul>

{% endblock %}
